#back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../../img/dshb/dshb.jpg);
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

label{
	font-size: 1em;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: .7em;
	letter-spacing: 1px;
	display: block;
}

label:hover, label:focus{
	color: #eb3812;
}

.input-group .input-group-addon {
	background: transparent;
	color: #fff!important;
	font-size: .9em;
	margin-bottom: 1.2em;
	border: 1px solid #848484;
}

.form-control, .form-control[readonly], input[type="text"], input[type="email"], select{
    border: 1px solid #848484;
    font-size: .9em;
    color: #eee!important;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #848484;
}

select option{
	color: #000!important;
	background-color: transparent!important;
}

#back hr {
  border-color: #fe4918;
  border-width: 3px;
  max-width: 50px;
}

#back hr.light {
  border-color: white;
}

h1{
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  color: #fff;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.back_color{
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fff;
  background: transparent;
  border-color: #eee;
  font-size: 14px;
}
.back_color:hover, .back_color:focus {
  color: #eb3812;
  font-size: 18px;
}


table{
	background: #1f20216b!important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #848484;
	color: #fff;
}

.table-bordered>thead>tr:focus, .table-bordered>thead>tr:hover{
	 background: transparent;
}

.table-bordered>tbody>tr:focus, .table-bordered>tbody>tr:hover{
	 background: transparent;
	 color: #eb3812;
}

.table-bordered>thead>tr>th:hover, table-bordered>thead>tr>th:focus, 
.table-bordered>tbody>tr>th:hover, .table-bordered>tbody>tr>th:focus,
.table-bordered>tfoot>tr>th:hover, .table-bordered>tfoot>tr>th:focus {
	border: 1px solid #848484;
	color: #eb3812;
}